<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simples Projeto com VueJS</title>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<body>
  <div id="simple-shop" class="container">
    <h1>
      {{ header.toLocaleUpperCase() }}
    </h1>
    <ul>
      <li v-for="(item, index) in itens" :key="index">
        {{ item }} <small @click="removerItem(index)">(Remover)</small>
      </li>
    </ul>
    <div class="row">
      <input
        type="text"
        v-model="novoItem"
        class="col s11"
        placeholder="Escreva Algo Aqui :)"/>
      <button
        class="col s1 waves-effect waves-light btn"
        @click="adicionaItem">+</button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let simpleShop = new Vue({
      el: '#simple-shop',
      data: {
        header: 'Lista de Compras',
        itens: [
          '5 Biscoitos Passatempo',
          '20 Bolos',
          '6 Salgados'
        ],
        novoItem: null
      },
      methods: {
        adicionaItem () {
          this.itens.push(this.novoItem)
          this.novoItem = null
        },
        removerItem (posicao) {
          console.log(this.itens.splice(posicao, 1))
        }
      }
    })
  </script>
</body>
</html>